.scale-container {
  transform: scale(0.75);
}
@media (max-width: 1370px) {
  .scale-container {
    transform: scale(0.6);
  }
}
@media (max-width: 1200px) {
  .scale-container {
    transform: scale(0.45);
  }
}
@media (max-width: 992px) {
  .scale-container {
    transform: scale(0.3);
  }
}
@media (max-width: 767px) {
  .scale-container {
    transform: scale(0.4);
  }
}
table.table-solo-leveling thead tr th{
      padding: 12px 20px 12px;
}
.table-solo-leveling-wrapper {
  overflow-x: auto;
  cursor: grab;
}

