/* ----- Text Colors Style ----- */
.text-primary {
  color: #000 !important;
}
.text-accent {
  color: #F74225 !important;
}
.text-dark-grey {
  color: #999 !important;
}

.bg-light {
  background-color: #e9e9e9 !important;
}

.border-top {
  border-color: #ddd !important;
}

* {
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  background-color: #e9e9e9;
  overflow-x: hidden;
}

h1,
h2 {
  font-size: 52px;
}
@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 42px;
  }
}

h3 {
  font-size: 42px;
}
@media (max-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.title-big {
  font-size: 72px;
}
@media (max-width: 768px) {
  .title-big {
    font-size: 50px;
  }
}
.title-wrap-40 {
  margin-bottom: 40px;
}
.title-wrap-20 {
  margin-bottom: 20px;
}

.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-size-md {
  font-size: 20px;
}

/* ----- Container ----- */
@media (min-width: 1370px) {
  .container {
    max-width: 1470px;
  }
}

/* ----- Section Section ----- */
.sec-space {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .sec-space {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .sec-space .title-wrap-40 {
    font-size: 42px;
  }
}

/* ----- Html Elements ----- */
img {
  max-width: 100%;
}

b,
strong {
  font-weight: 600;
}

iframe {
  max-width: 100%;
}

/* ----- Links ----- */
a {
  text-decoration: none;
  color: #2B2B2E;
}
a:hover {
  text-decoration: none;
  color: #F74225;
}

/* ----- Locomotive ----- */
.no-transform {
  transform: none !important;
}

/* ----- Background Overlay ----- */
.bg-overlay {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.bg-overlay.opc_05 {
  opacity: 0.5;
}

.text-dark {
  color: #000;
}

/* ----- Form Elements ----- */
input[type=text], input[type=email], input[type=search], input[type=password], input[type=number], input[type=date] {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
  border: 1px solid #cecece;
}
@media (max-width: 991px) {
  input[type=text], input[type=email], input[type=search], input[type=password], input[type=number], input[type=date] {
    width: 100%;
  }
}
input[type=checkbox], input[type=radio] {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 4px;
  transform: translateY(3px);
  appearance: none;
  background: #ededed;
}
input[type=radio] {
  border-radius: 50%;
}
input[type=radio]:checked {
  border: 6px solid #080808;
}
input[type=checkbox]:checked {
  border: 4px solid #ededed;
  background: #080808;
}
input[type=submit] {
  height: 70px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #080808;
  background: #94ffc4;
  border: none;
  padding: 0 50px;
}

textarea {
  width: 520px;
  max-width: 100%;
  height: 140px;
  padding: 30px;
  border: 1px solid #cecece;
}
@media (max-width: 991px) {
  textarea {
    width: 100%;
  }
}

button[type=submit] {
  height: 70px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #080808;
  background: #94ffc4;
  border: none;
  padding: 0 50px;
}
button[type=submit] i {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
  transform: translateY(2px);
}

/* ----- Custom Button ----- */
.custom-button {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  background: #F74225;
  padding: 0 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  transition: 0.25s ease-in-out;
}
.custom-button:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid transparent;
  transition: 0.25s ease-in-out;
}
.custom-button:hover {
  text-decoration: none;
  line-height: 80px;
  text-indent: 6px;
  color: #fff;
}
.custom-button:hover:before {
  top: 6px;
  left: 6px;
  border-color: #000;
}
.custom-button-bg-white:hover:before {
  border-color: #fff;
}
.custom-link {
  display: inline-block;
  position: relative;
}
.custom-link:before, .custom-link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
}
.custom-link:before {
  left: 0;
  transition: width 0s ease, background 0.25s ease;
}
.custom-link:after {
  right: 0;
  background: #F74225;
  transition: width 0.25s ease;
}
.custom-link:hover {
  text-decoration: none;
}
.custom-link:hover:before {
  width: 50%;
  background: #F74225;
  transition: width 0.25s ease;
}
.custom-link:hover :after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

/* ----- Spacing ----- */
.no-spacing {
  margin: 0 !important;
  padding: 0 !important;
}
.no-spacing-bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.spacing-400 {
  height: 400px;
}
.spacing-200 {
  height: 200px;
}
.spacing-100 {
  height: 100px;
}
.spacing-50 {
  height: 50px;
}
@media (min-width: 768px) {
  .spacing-l-md-70 {
    padding-left: 70px;
  }
}
@media (min-width: 768px) {
  .spacing-r-md-70 {
    padding-right: 70px;
  }
}

/* ----- Accordion ----- */
.accordion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.accordion dt {
  width: 100%;
  display: block;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}
.accordion dt a {
  display: flex;
  align-items: center;
  position: relative;
}
.accordion dt a:before {
  content: "\f078";
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  background: #94ffc4;
  border-radius: 50%;
  font-family: "Font Awesome 5 Pro";
  font-size: 13px;
}
.accordion dt a:hover {
  text-decoration: none;
}
.accordion dd {
  width: 100%;
  display: block;
  padding-top: 15px;
  margin-bottom: 30px;
}

/* ----- List Style ----- */
.list-style > li {
  position: relative;
  padding-left: 25px;
}
.list-style > li:not(:last-child) {
  margin-bottom: 15px;
}
.list-style > li:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../svg/arrow_list.svg) no-repeat left center;
  position: absolute;
  top: 2px;
  left: -5px;
}
.list-style-none {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-style-spacing_0 {
  padding: 0;
  margin: 0;
}

/* ----- Image Animation ----- */
.image-box img {
  width: 100%;
  opacity: 0;
  transform: scale(1.2);
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}

/* ----- Swiper Slider ---- */
.swiper-slider-overflow {
  position: relative;
  overflow: hidden;
}

.slider-nav-style {
  display: flex;
  grid-gap: 20px;
  padding: 20px 0;
}
@media (max-width: 991px) {
  .slider-nav-style {
    justify-content: center;
  }
}
.slider-nav-style .swiper-button-disabled svg g path {
  stroke: #d1ccc1;
}

.swiper-slide-prev {
  margin-left: -10px;
}
.swiper-slide:nth-child(3) {
  margin-right: 20px !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 12px;
  color: #fff;
}
.swiper-button-next {
  right: 3px;
  background-color: #F74225;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.swiper-button-prev {
  left: 1px;
  background-color: #F74225;
  color: #fff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

/* ----- Social Icons ----- */
ul.social_icons {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
ul.social_icons li a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 22px;
}
ul.social_icons li:not(:last-child) {
  margin-right: 15px;
}

/* ----- Modal ----- */
.modal-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 30px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 9;
}
.modal-backdrop {
  position: relative;
}
.modal-content {
  border: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
}
@media (min-width: 576px) {
  .modal-custom .modal-dialog {
    max-width: 600px;
  }
}

/* ----- Footer Nav ----- */
ul.footer_nav {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  ul.footer_nav {
    display: inline-block;
    width: 100%;
  }
}
ul.footer_nav li a {
  position: relative;
}
ul.footer_nav li a:before, ul.footer_nav li a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 0;
}
ul.footer_nav li a:before {
  left: 0;
  height: 3px;
  transition: width 0s ease, background 0.25s ease;
}
ul.footer_nav li a:after {
  right: 0;
  height: 4px;
  background: #f74225;
  transition: width 0.25s ease;
}
ul.footer_nav li a:hover, ul.footer_nav li a.active {
  text-decoration: none;
}
ul.footer_nav li a:hover:before, ul.footer_nav li a.active:before {
  width: 50%;
  background: #F74225;
  transition: width 0.25s ease;
}
ul.footer_nav li a:hover:after, ul.footer_nav li a.active:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
ul.footer_nav li:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 991px) {
  ul.footer_nav li:not(:last-child) {
    margin-bottom: 15px;
  }
}

/*--- Form Controls ----*/
label {
  font-weight: 500;
}

textarea {
  padding: 10px 12px;
  height: 100px;
  width: 100%;
}

div .form-control,
div .form-select {
  height: 50px;
  padding: 10px 12px;
}
div .form-control:focus,
div .form-select:focus {
  box-shadow: none;
}

/*--- Button ----*/
div .btn {
  background-color: #fff;
  padding: 8px 35px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #F74225;
}
div .btn-primary {
  padding: 10px 25px;
  color: #000;
}
div .btn-primary:hover {
  background-color: #F74225;
  border: 1px solid #F74225;
  text-decoration: none;
  color: #fff;
}
div .btn-primary:focus {
  background-color: #F74225;
  border: 1px solid #F74225;
  box-shadow: none;
  outline: none;
}
div .btn-primary:active:focus {
  background-color: #F74225;
  border: 1px solid #F74225;
  box-shadow: none;
  outline: none;
}
div .btn-secondary {
  padding: 10px 25px;
  font-size: 16px;
  background-color: #F74225;
  color: #fff;
}
div .btn-secondary:hover {
  background-color: #000;
  border: 1px solid #000;
  text-decoration: none;
  color: #fff;
}
div .btn-secondary:focus {
  background-color: #000;
  border: 1px solid #000;
  box-shadow: none;
  outline: none;
}
div .btn-secondary:active:focus {
  background-color: #000;
  border: 1px solid #000;
  box-shadow: none;
  outline: none;
}
div .btn-product {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--- Iframe ----*/
iframe {
  border: 1px solid #F74225;
}

/*-- Dropdown ---*/
.dropdown {
  max-height: none;
}
.dropdown-menu {
  background-color: #e9e9e9;
  border: none;
  max-height: none;
}
.dropdown-toggle {
  font-size: 20px;
  font-weight: 600;
}
.dropdown-toggle::after {
  content: "+";
  float: right;
  border-top: 0;
  border-right: 0;
  font-size: 20px;
}
.dropdown-item {
  padding: 0.25rem 0;
}

.show.dropdown-toggle::after {
  content: "-";
}

/*--- Accordion ---*/
.accordion-button, .accordion-item {
  background-color: #e9e9e9;
  border: none;
  width: 100%;
}
.accordion-collapse {
  border: none;
}
.accordion-item {
  border-bottom: 4px solid #ddd;
}
.accordion-button {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding: inherit;
}
.accordion-button:focus {
  border: none;
  box-shadow: none;
}
.accordion-button::after {
  content: "+";
  background-image: none;
  font-size: 20px;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: transparent;
  border: none;
  color: #000;
}
.accordion-button:not(.collapsed):after {
  content: "-";
  background-image: none;
  transform: rotate(0);
  font-size: 20px;
}
.accordion-body {
  padding: 0 0 1rem;
}
.accordion-body li a:hover {
  cursor: pointer;
  text-decoration: none;
}
.accordion-body li a label {
  cursor: pointer;
}

/*--- Nav Pills ---*/
.nav-pills {
  gap: 10px;
}
.nav-pills .nav-link {
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 30px;
  color: #000;
  border-radius: 30px;
  border: none;
  border-bottom: 4px solid #ddd;
  transition: all ease 0.3s;
}
.nav-pills .nav-link.active {
  background-color: #fff;
  border-bottom: 4px solid #F74225;
  color: #000;
}

.product-content-description-bottom .nav-pills {
  gap: 10px;
  border-bottom: 1px solid #ddd;
}
.product-content-description-bottom .nav-pills .nav-link {
  background-color: transparent;
  padding: 10px 0;
  color: #000;
  font-weight: 600;
  border-radius: 0;
  font-size: 20px;
  border: none;
  border-bottom: 4px solid transparent;
}
.product-content-description-bottom .nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 3px solid #F74225;
  color: #000;
}

/*---- Breadcrumb ----*/
.breadcrumb {
  margin-bottom: 0;
}
.breadcrumb-sec {
  background-color: #ddd;
  padding: 10px 0;
}
.breadcrumb-item.active {
  color: #F74225;
}

/*--- Tab Content ---*/
.tab-content {
  margin-top: 15px;
}

/*---  Outlined Contact Us ---*/
.form-group {
  position: relative;
}
.form-group input,
.form-group textarea {
  transition: all ease 0.02s;
  touch-action: manipulation;
  cursor: text;
  background-color: #fff;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  opacity: 0 !important;
  color: #ddd;
  font-size: 14px;
}
.form-group input:focus,
.form-group textarea:focus {
  border: 1px solid #F74225 !important;
  outline: none;
}
.form-group input:focus::placeholder,
.form-group textarea:focus::placeholder {
  opacity: 1;
  color: #ddd;
}
.form-group input:placeholder-shown + label,
.form-group textarea:placeholder-shown + label {
  cursor: text;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform-origin: left bottom;
  transform: translate(0, 0) scale(1.5);
}
.form-group input:focus + label, .form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  transform: translate(-2px, -30px) scale(1);
  padding: 0 3px;
  font-size: 16px;
  display: block;
}
.form-group label {
  position: absolute;
  top: 17px;
  left: 12px;
  color: #000;
  font-size: 10px;
  transition: all ease 0.02s;
  pointer-events: none;
}
.form-group label::after {
  content: " ";
  display: block;
  position: absolute;
  background: #fff;
  height: 3px;
  top: 50%;
  left: -0.2em;
  right: -0.2em;
  z-index: -1;
}
.form-group label:not(:placeholder-shown)::after {
  left: -0.1em;
  right: -0.1em;
}

/*--- Select 2 Box ----*/
.select2-container {
  width: 100% !important;
  min-height: 50px !important;
}
.select2-selection--multiple {
  min-height: 50px !important;
}
.select2-search__field {
  margin-top: 12px !important;
  margin-left: 17px !important;
  color: #000 !important;
}

@keyframes svg-morph {
  0% {
    d: path("m244.333332,38.437499c26.666664,-1.666666 125.666662,0.999995 195.333325,50.33333c69.666663,49.333335 -39.666664,141.666664 -70.666664,174.229164c-31,32.5625 -176.999993,107.437507 -234.999993,76.437507c-58,-31 73.666665,-107.000001 49,-190.4375c-24.666665,-83.437499 34.666668,-108.895835 61.333332,-110.562501z");
  }
  100% {
    d: path("m244.333332,38.437499c58.666669,50.333342 24.666647,101.000011 94.33331,150.333346c69.666663,49.333335 71.333353,156.666666 14.333349,175.229163c-57.000004,18.562498 -160.999991,6.437492 -218.999991,-24.562508c-58,-31 -109.333363,-174.000012 -70.000018,-236.437507c39.333345,-62.437496 121.666681,-114.895836 180.33335,-64.562494z");
  }
}
@keyframes preloader-svg {
  0% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
  50% {
    d: path("M0,230 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,960 305.333333,1080 0,1080 L0,230 Z");
  }
  100% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
}
@keyframes preloader-inner {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes side-widget-in {
  0% {
    d: path("M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z");
  }
  50% {
    d: path("M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z");
  }
  100% {
    d: path("M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z");
  }
}
@keyframes side-widget-out {
  0% {
    d: path("M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z");
  }
  50% {
    d: path("M540,1080H0V0h540c-40.28,124.78-85.13,311.48-85,541C455.13,769.53,499.81,955.48,540,1080z");
  }
  100% {
    d: path("M540,1080H0V0h540c31.96,142.05,60.09,325.94,60,541C599.91,755.16,571.87,938.34,540,1080z");
  }
}
@keyframes zoomInOut {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1); /* Zoom-in */
  }
  100% {
    transform: scale(0.8); /* Zoom-out */
  }
}
/* ----- Hamburger ----- */
.hamburger {
  width: 60px;
  height: 50px;
  padding: 10px;
  background-color: #F74225;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
  margin-left: auto;
}
.hamburger path {
  transform: translate3d(0, 0, 0);
  fill: transparent;
  stroke-width: 2px;
  stroke: #fff;
  stroke-linecap: round;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.hamburger path.line-center {
  padding: 10px 0;
}
.hamburger:hover, .hamburger.active {
  background-color: #000;
}
.hamburger.active .line-center {
  transform: translateX(-50px);
}
.hamburger.active .line-top {
  transform: rotate(45deg) translateX(6px) translateY(-9px);
}
.hamburger.active .line-bottom {
  transform: rotate(-45deg) translateX(-15px) translateY(0px);
}

/* ----- Preloader ----- */
.preloader {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
  overflow: hidden;
}
.preloader svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  fill: #080808;
}
.preloader svg path {
  animation-name: preloader-svg;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.7s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}
.preloader .inner {
  display: inline-block;
  position: relative;
  z-index: 1;
  animation-name: preloader-inner;
  animation-duration: 0.8s;
  transition: all ease 0.8s;
}
.preloader .inner figure {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 0;
}
.preloader .inner figure img {
  height: 70px;
}
.preloader .inner small {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  transform: translateX(15px);
}
.preloader .inner .progress-bar {
  background: none;
}

/* ----- Before Page Loaded ----- */
@media (max-width: 768px) {
  header {
    transform: translateY(-100%);
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
    transition-delay: 0.2s;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: 9;
  }
  .page-loaded header {
    background-color: #fff;
    height: 130px;
    padding: 0 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
    transform: translateY(0);
  }
}
@media (max-width: 768px) and (max-width: 767px) {
  .page-loaded header {
    height: 75px;
  }
}
.navbar {
  transform: translateY(-100%);
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  transition-delay: 0.2s;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr auto;
  grid-gap: 50px;
  padding: 30px 0;
  left: 0;
  top: 0;
  z-index: 9;
}
@media (max-width: 768px) {
  .navbar {
    display: flex;
    padding: 10px 0;
  }
  .navbar .logo {
    width: 120px;
  }
}
.navbar .logo-light {
  display: none;
}
.navbar .site-submenu {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  z-index: 9999;
  min-width: 250px;
  transition: all 0.3s ease;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
}
.navbar .site-submenu li a {
  padding: 12px 25px;
  display: block;
  transition: all 0.3s ease;
}
.navbar .site-submenu li a:hover, .navbar .site-submenu li a.active {
  background-color: #F74225;
  color: #fff;
}
.navbar .site-submenu li:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}
.navbar .site-menu {
  display: flex;
  justify-content: flex-end;
}
.navbar .site-menu > ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.navbar .site-menu > ul > li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
  list-style: none;
  position: relative;
}
.navbar .site-menu > ul > li > a {
  display: inline-block;
  position: relative;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar .site-menu > ul > li > a:hover, .navbar .site-menu > ul > li > a.active {
  text-decoration: none;
}
.navbar .site-menu > ul > li > a:hover:before, .navbar .site-menu > ul > li > a.active:before {
  width: 50%;
  background: #F74225;
  transition: width 0.25s ease;
}
.navbar .site-menu > ul > li > a:hover:after, .navbar .site-menu > ul > li > a.active:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.navbar .site-menu > ul > li > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.navbar .site-menu > ul > li > a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -4px;
  height: 4px;
  width: 0;
  background: #F74225;
  transition: width 0.25s ease;
}
@media (max-width: 991px) {
  .navbar .site-menu {
    display: none;
  }
}
.navbar .site-dropdown:hover span, .navbar .site-dropdown.active span {
  transform: rotate(180deg);
}
.navbar .site-dropdown:hover .site-submenu, .navbar .site-dropdown.active .site-submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navbar-overlap .navbar {
  position: absolute;
}
.navbar-overlap .navbar .logo-light {
  display: block;
}
@media (max-width: 768px) {
  .navbar-overlap .navbar .logo-light {
    display: none;
  }
}
.navbar-overlap .navbar .logo-dark {
  display: none;
}
@media (max-width: 768px) {
  .navbar-overlap .navbar .logo-dark {
    display: block;
  }
}
.navbar-overlap .navbar .site-menu > ul > li > a {
  color: #fff;
}

.page-header {
  transform: scale(1.4);
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  transition-delay: 0.25s;
  opacity: 0;
}

/* ----- Page Loaded ----- */
.page-loaded .preloader {
  top: 100%;
}
.page-loaded .preloader .inner {
  transform: translateY(50px);
  opacity: 0;
}
.page-loaded .preloader svg path {
  animation-play-state: running;
}
.page-loaded .preloader .navbar {
  transform: translateY(0);
}
.page-loaded .preloader .slider {
  transform: scale(1);
  opacity: 1;
}
.page-loaded .preloader .page-header {
  transform: scale(1);
  opacity: 1;
}
.page-loaded .navbar {
  transform: translateY(0);
}

/* ----- Page Trasition ----- */
.page-transition {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 99;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.7s;
  overflow: hidden;
}
.page-transition.active {
  top: 0;
}
.page-transition svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  fill: #080808;
}
.page-transition svg path {
  animation-name: page-transition;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* ----- Section Wrapper ----- */
.section-wrapper {
  overflow: hidden;
}

/* ----- Sidebar Widget ----- */
.sidebar-widget {
  width: calc(100% - 90px);
  max-width: 540px;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 10;
  padding: 30px 50px;
  background-color: #080808;
  color: #fff;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  overflow: auto;
}
.sidebar-widget svg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  fill: #080808;
}
.sidebar-widget svg path {
  animation-name: side-widget-out;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.sidebar-widget .logo {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transform: translateX(-100px);
}
.sidebar-widget .logo img {
  max-width: 130px;
}
.sidebar-widget .inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: 0;
  transition: 0.25s ease-in-out;
  transform: translateX(-100px);
}
.sidebar-widget .inner .widget {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.sidebar-widget .inner .widget:last-child {
  margin-bottom: 0;
}
.sidebar-widget .inner .widget p:last-child {
  margin-bottom: 0;
  opacity: 0.8;
}
.sidebar-widget .inner .widget-title {
  width: 100%;
  display: block;
  font-size: 26px;
  margin-bottom: 15px;
  color: #F74225;
}
.sidebar-widget .display-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: 0;
  transition: 0.25s ease-in-out;
  transform: translateX(-100px);
  display: none;
}
@media (max-width: 991px) {
  .sidebar-widget .display-mobile {
    display: block;
  }
}
.sidebar-widget .display-mobile .site-menu {
  width: 100%;
  display: block;
  margin-bottom: auto;
  margin-top: 10px;
}
.sidebar-widget .display-mobile .site-menu > ul > li:not(:last-child) {
  border-bottom: 1px solid #333;
}
.sidebar-widget .display-mobile .site-menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar-widget .display-mobile .site-menu ul li {
  width: 100%;
  font-size: 20px;
}
.sidebar-widget .display-mobile .site-menu ul li.site-dropdown {
  position: relative;
}
.sidebar-widget .display-mobile .site-menu ul li.site-dropdown > a {
  width: calc(100% - 30px);
}
.sidebar-widget .display-mobile .site-menu ul li a {
  display: flex;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}
.sidebar-widget .display-mobile .site-menu ul li a:hover {
  text-decoration: none;
  color: #F74225;
}
.sidebar-widget .display-mobile .site-menu ul li span {
  width: 24px;
  height: 24px;
  background-color: #F74225;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 50%;
}
.sidebar-widget .display-mobile .site-menu ul .site-submenu {
  display: none;
}
.sidebar-widget .display-mobile .site-menu ul .site-submenu li a {
  padding-left: 30px;
  font-size: 14px;
  padding: 5px 0 5px 20px;
  font-size: 14px;
  border-top: 1px solid #333;
}
.sidebar-widget .display-mobile .site-menu ul .site-submenu.open {
  display: block;
}
.sidebar-widget.active {
  left: 0;
}
.sidebar-widget.active .logo {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-widget.active .inner {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 991px) {
  .sidebar-widget.active .inner {
    display: none;
  }
}
.sidebar-widget.active .display-mobile {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-widget.active svg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  fill: #080808;
}
.sidebar-widget.active svg path {
  animation-name: side-widget-in;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

/* ----- Hero Section ----- */
.hero-video {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}
@media (max-width: 991px) {
  .hero-video {
    height: 550px;
  }
  .hero-video img {
    height: -webkit-fill-available;
  }
  .hero-video video {
    min-height: 550px;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .hero-video {
    height: 440px;
  }
  .hero-video video {
    min-height: 440px;
    object-fit: cover;
  }
}
.hero-content {
  position: absolute;
  bottom: 15vh;
  left: 0;
  padding: 30px 0;
  color: #fff;
  width: 100%;
}
@media (max-width: 991px) {
  .hero-content {
    bottom: 10px;
  }
}
.hero-content-wrap {
  z-index: 9;
  position: relative;
}
.hero-content .svg-morph {
  opacity: 0.4;
  position: absolute;
  top: calc(50% - 250px);
  left: 50%;
  transform: translateX(-140%);
}
.hero-content .svg-morph path {
  fill: #000;
  animation-name: svg-morph;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.hero-inner {
  position: relative;
  width: calc(100% - 100px);
  margin-left: 50px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .hero-inner {
    width: calc(100% - 62px);
    margin-left: 30px;
  }
}
.hero-inner-content {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero-inner-content h2,
.hero-inner-content h3 {
  color: #fff;
}

/* ----- Overview Profile Section ----- */
.overview-sec {
  padding: 60px 60px 0;
}
@media (max-width: 991px) {
  .overview-sec {
    padding: 20px 0;
  }
}
.overview-sec-wrap {
  min-height: calc(100vh - 120px);
  position: relative;
  overflow: hidden;
}
@media (max-width: 1399px) {
  .overview-sec-wrap {
    min-height: calc(100vh - 60px);
  }
}
@media (max-width: 768px) {
  .overview-sec-wrap {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}
.overview-sec-img {
  z-index: 9;
  width: 50%;
  height: 85%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.overview-sec-img-profile img.overview-cover {
  object-fit: cover;
  object-position: 0 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
}
@media (max-width: 1399px) {
  .overview-sec-img {
    width: 40%;
  }
}
@media (max-width: 1199px) {
  .overview-sec-img {
    width: 35%;
  }
}
@media (max-width: 768px) {
  .overview-sec-img {
    width: 100%;
  }
}
.overview-sec-bg-overlay {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.overview-sec-content {
  width: 50%;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0;
  height: 85%;
}
.overview-sec-content-wrap {
  padding: 0 90px 0 150px;
  margin-left: -75px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 1199px) {
  .overview-sec-content-wrap {
    padding: 0 50px 0 125px;
  }
}
.overview-sec-content-bg {
  background: url(../images/bg_patter02.jpg) no-repeat left top/cover;
  width: calc(100% + 60px);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateY(10%);
  z-index: -9;
}
@media (max-width: 1399px) {
  .overview-sec-content {
    width: 60%;
  }
}
@media (max-width: 1199px) {
  .overview-sec-content {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .overview-sec-content {
    width: 100%;
  }
}

/* ----- Usp Counter ----- */
.usp-counters {
  z-index: 99;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.usp-counters > ul {
  display: flex;
  flex-direction: column;
  grid-gap: 70px;
}
.usp-counters > ul li > div {
  max-width: 400px;
  margin: auto;
  color: #fff;
  opacity: 0;
  transform: translateY(100px);
}
.usp-counters > ul li > div b {
  font-weight: 800;
  color: #7C8EEC;
}

/* ----- Dot Pattern ----- */
.dot-patt {
  position: absolute;
  left: -50px;
  bottom: -50px;
  z-index: -9;
}

.img_dot {
  position: relative;
}
.img_dot:before, .img_dot:after {
  content: "";
  width: 350px;
  height: 350px;
  background: url("../images/dot-quote.svg") no-repeat left top/cover;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  z-index: -9;
}
.img_dot-left:before {
  top: 0;
  left: 0;
}
.img_dot-right:after {
  bottom: 0;
  right: 0;
}
.img_dot.is-inview.img_dot-left:before {
  opacity: 1;
  visibility: visible;
  transform: translate(-30px, -30px);
}
.img_dot.is-inview.img_dot-right:after {
  opacity: 1;
  visibility: visible;
  transform: translate(30px, 30px);
}

/* ----- Certifications ----- */
.certifications-sec {
  padding-top: 90px;
  padding-bottom: 150px;
}
.certifications-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.certifications-icons-item {
  display: flex;
  align-items: center;
  min-height: 125px;
  position: relative;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .certifications-icons-item a.certifications-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: all 0.3s ease;
  }
  .certifications-icons-item a.certifications-btn i {
    width: 60px;
    height: 60px;
    background: #F74225;
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .certifications-icons-item a.certifications-btn:hover {
    text-decoration: none;
  }
}
@media (min-width: 768px) {
  .certifications-icons-item a.certifications-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: all 0.3s ease;
  }
  .certifications-icons-item a.certifications-btn i {
    width: 60px;
    height: 60px;
    background: #F74225;
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .certifications-icons-item a.certifications-btn:hover {
    text-decoration: none;
  }
}
.certifications-icons li {
  width: 25%;
  text-align: center;
  padding: 25px;
}
@media (max-width: 767px) {
  .certifications-icons li {
    width: 50%;
  }
  .certifications-icons li:hover .certifications-icons-item img {
    filter: grayscale(1);
    opacity: 0.3;
  }
}
@media (max-width: 767px) and (max-width: 768px) {
  .certifications-icons li:hover .certifications-icons-item a.certifications-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.certifications-icons li img {
  max-width: 150px;
  max-height: 120px;
  margin: 0 auto;
  transition: all 0.5s ease;
}
.certifications-icons li span {
  max-width: 120px;
  margin: auto;
}
.certifications-icons li a.custom-link:hover {
  color: #000;
}
.certifications-icons li:hover .certifications-icons-item img {
  filter: grayscale(1);
  opacity: 0.3;
}
@media (min-width: 768px) {
  .certifications-icons li:hover .certifications-icons-item a.certifications-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

/* ----- Story Slider ----- */
@media (max-width: 991px) {
  .story-slider {
    max-height: 750px;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .story-slider {
    max-height: 780px;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .story-slider-content {
    padding-bottom: 30px;
  }
}
.story-years {
  margin-bottom: 15px;
}
.story-years .swiper-slide > div {
  text-align: center;
  text-decoration: none;
  color: #999;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding-bottom: 35px;
  cursor: pointer;
}
.story-years .swiper-slide > div:after {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #D1CCC1;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}
.story-years .swiper-slide.swiper-slide-thumb-active > div {
  color: #F74225;
}
.story-years .swiper-slide.swiper-slide-thumb-active > div:after {
  background-color: #F74225;
}
.story-years:after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  border-bottom: 3px dotted #d1ccc1;
  height: 3px;
  width: 100%;
}

/* ----- Product Slider ----- */
.pro_sec {
  position: relative;
}
@media (max-width: 991px) {
  .pro_sec {
    padding-top: 70px;
  }
}
.pro_sec .container-fluid {
  position: relative;
  z-index: 99;
}
.pro_sec:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/dots-story.png") no-repeat left top/25%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.pro_slider {
  margin-left: 15%;
  padding: 0 25px 25px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .pro_slider {
    margin-left: 0;
  }
}
.pro_slider .swiper-slide {
  width: 450px;
  overflow: hidden;
}
.pro_slider-item {
  display: block;
  position: relative;
  margin: 15px 0;
  transition: all 0.5s ease;
  overflow: hidden;
}
.pro_slider-item-overlay {
  content: "";
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-image: linear-gradient(transparent, #fff);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.5s ease;
}
.pro_slider-item-content {
  z-index: 9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 410px;
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5607843137);
  margin-left: 20px;
  margin-bottom: 15px;
  transition: all 0.5s ease;
}
@media (max-width: 768px) {
  .pro_slider-item-content {
    grid-template-columns: 200px 1fr auto;
  }
}
.pro_slider-item-product_img img {
  transition: all 0.5s ease;
}
.pro_slider-item-title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}
.pro_slider-item-title:hover {
  text-decoration: none;
}
.pro_slider-item-btn {
  z-index: 9;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.pro_slider-item-btn img {
  width: 20px;
  z-index: 99;
}
.pro_slider-item-btn:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #F74225;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease;
  z-index: 9;
}
.pro_slider-item:hover {
  scale: 1.1;
}
.pro_slider-item:hover .pro_slider-item-overlay {
  content: "";
  background-image: none;
  background-color: #000;
}
.pro_slider-item:hover .pro_slider-item-content {
  bottom: -3px;
}
.pro_slider-item:hover .pro_slider-item-title {
  color: #fff;
}
.pro_slider-item:hover .pro_slider-item-btn {
  transform: rotate(-45deg);
}
.pro_slider-item:hover .pro_slider-item-btn:after {
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
}
.pro_slider-item:hover .pro_slider-item-product_img img {
  filter: grayscale(0);
  transform: scale(1.2);
}

/* ----- Cursor ----- */
.cursor {
  position: fixed;
  z-index: 9999999;
  pointer-events: none;
}
.cursor span.play, .cursor span.drag, .cursor span.view {
  position: relative;
  opacity: 0;
  visibility: hidden;
  display: none;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  background-color: #1a1c1e;
  border-radius: 50%;
  color: #f1f1f1;
  font-size: 18px;
  mix-blend-mode: unset;
}
.cursor span.play img, .cursor span.drag img, .cursor span.view img {
  display: block;
  position: absolute;
  left: 50%;
  top: 16px;
  animation: zoomInOut 1s infinite;
}
.cursor span.play span, .cursor span.drag span, .cursor span.view span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
  top: 50%;
}
.cursor.cursor-play span.play {
  display: block;
  opacity: 1;
  visibility: visible;
  transition-duration: 0.3s;
  transform: scale(1);
}
.cursor.cursor-play span.play img {
  margin-left: -12px;
}
.cursor.cursor-drag span.drag {
  display: block;
  opacity: 1;
  visibility: visible;
  transition-duration: 0.3s;
  transform: scale(1);
}
.cursor.cursor-drag span.drag img {
  margin-left: -12px;
}
.cursor.cursor-view span.view {
  display: block;
  opacity: 1;
  visibility: visible;
  transition-duration: 0.3s;
  transform: scale(1);
}
.cursor.cursor-view span.view img {
  margin-left: -8px;
}

/* ----- Initiatives ----- */
.init_sec {
  position: relative;
}
.init_sec-title {
  margin-bottom: 70px;
}
@media (max-width: 991px) {
  .init_sec-title {
    margin-bottom: 50px;
  }
}
.init_sec:after {
  content: "";
  width: 100%;
  height: calc(100% - 120px);
  background: url(../images/bg_patter01.jpg) repeat-x left top/cover;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -9;
}

.init_left-side-content h2, .init_left-side-content h3, .init_left-side-content h4, .init_left-side-content h5, .init_left-side-content h6, .init_right-side-content h2, .init_right-side-content h3, .init_right-side-content h4, .init_right-side-content h5, .init_right-side-content h6 {
  margin-bottom: 15px;
  margin-top: 30px;
}
.init_left-side-content ul li:not(:last-child), .init_right-side-content ul li:not(:last-child) {
  padding-bottom: 10px;
}

.init-banner img {
  width: 100%;
}

/* ----- Is View Animation ----- */
.ani_img img {
  opacity: 1;
  transform: scale(1.2);
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.ani_img.is-inview img {
  opacity: 1;
  transform: scale(1);
}

/* ----- Vision & Mission ----- */
.vision-box {
  background: url(../images/bg_patter01.jpg) no-repeat left top/cover;
  padding: 10%;
  min-height: 100%;
}

/*--- Contact Us ----*/
.contact-banner {
  position: relative;
}
.contact-form {
  margin-right: 40px;
}
@media (max-width: 991px) {
  .contact-form {
    margin-right: 0;
  }
}
.contact-content {
  background-color: #fff;
  padding: 40px 30px;
  width: 360px;
  content: "";
  position: absolute;
  bottom: -60px;
  left: -30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
}
@media (max-width: 670px) {
  .contact-content {
    position: initial;
    width: 100%;
  }
}

/*--- Products ----*/
.product {
  /*-- Single Product ---*/
}
.product-banner, .product-banner1, .product-banner2, .product-banner4 {
  height: 100%;
  width: 100%;
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  display: flex;
  align-items: center;
}
.product-banner {
  background-image: url(../images/brushes.jpg);
}
.product-banner1 {
  background-image: url(../images/components-banner.jpg);
}
.product-banner2 {
  background-image: url(../images/artist-components.jpg);
}
.product-banner4 {
  background-image: url(../images/art-access.jpg);
}
.product-category-list {
  margin-top: 10px;
  color: #000;
}
.product-category-list.active {
  color: #F74225;
}
.product-category-otherlist li {
  border-bottom: 3px solid #ddd;
  padding: 1rem 0;
}
.product-category-otherlist li a {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.product-category-otherlist li a:hover {
  color: #F74225;
  text-decoration: none;
}
.product-category-image {
  position: relative;
  background-color: #fff;
  min-height: 100%;
}
.product-category-image img {
  width: 100%;
}
.product-category-image > div:first-child {
  background-color: #fff !important;
}
.product-category-content {
  padding: 0 30px 20px;
}
.product-category-title {
  display: grid;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 20px;
}
.product-slider {
  margin-top: 15px;
  padding: 0 20px;
  overflow: hidden;
}
.product-slider img {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}
.product-slider-img-border {
  border: 1px solid #e9e9e9;
  transition: 0.3s all ease-in-out;
}
.product-content-title {
  margin-bottom: 20px;
}
.product-content-description {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.product-content-description-bottom {
  margin-top: 50px;
}
.product-content-description h6 {
  text-transform: uppercase;
}
.product-content-color {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

/*---- Color Swatches ----*/
.color-swtaches, .color-swtaches1, .color-swtaches2, .color-swtaches3, .color-swtaches4, .color-swtaches5 {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}
.color-swtaches {
  background-color: #fff;
}
.color-swtaches1 {
  background-color: #000;
}
.color-swtaches2 {
  background-color: #F74225;
}
.color-swtaches3 {
  background-color: #000;
}
.color-swtaches4 {
  background-color: #ddd;
}
.color-swtaches5 {
  background-color: #2C3D98;
}

/* ---- Initiatives ---*/
.initiatives-box {
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
  min-height: 100%;
}
.initiatives-box img {
  width: 100%;
}
.initiatives-content {
  padding: 40px 20px;
  text-align: center;
}
.initiatives-post-content {
  padding: 15px 0 0 0;
}
.initiatives-recent-list li a {
  font-size: 20px;
  line-height: 30px;
  padding-top: 15px;
}
.initiatives-recent-title {
  position: relative;
}
.initiatives-recent-title::after {
  content: "";
  position: absolute;
  background-color: #F74225;
  width: 100px;
  height: 3px;
  left: 0;
  bottom: -4px;
}

/* ----- Footer Connect ----- */
.footer-connect {
  background: #000 url(../images/talk-bg.jpg) no-repeat left top/cover;
  padding: 200px 90px 90px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767px) {
  .footer-connect {
    padding: 90px 30px 90px;
  }
}
.footer-connect > div:nth-child(1) {
  max-width: 250px;
}

/* ----- Footer ----- */
.site_footer {
  padding: 90px 0 30px;
  background-color: #000;
  color: #fff;
}
.site_footer-text {
  text-wrap: pretty;
}
.site_footer-right {
  display: flex;
  align-items: center;
  grid-gap: 70px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .site_footer-right {
    padding-top: 20px;
    grid-gap: 30px;
  }
}
.site_footer ul.footer_nav li a {
  color: #fff;
}
.site_footer .copyright {
  margin-top: 90px;
  border-top: 1px solid #333;
  padding-top: 30px;
}
.site_footer .copyright a {
  color: #fff;
}
.site_footer .copyright a:hover {
  text-decoration: none;
  color: #F74225;
}

/*# sourceMappingURL=style.css.map */
